import { FC, useState } from 'react'

type $$FileProps = {
  prop: string
}

const $$File: FC<$$FileProps> = () => {
  const [state, setState] = useState('')

  return <div>{state}</div>
}

export default $$File
