import { FC, useState } from 'react'

type PythonProps = {
  prop: string
}

const Python: FC<PythonProps> = () => {
  const [state, setState] = useState('')

  return <div>{state}</div>
}

export default Python
